body{
    background-image: url("770644.jpg");
}

#div2{
    max-width: 28rem;
    /*align-self: center;*/
}

p{
    font-size: 2em;
}

input[type=checkbox]{
    margin: 5px;

}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    color: yellow;
}

h1{
    color: whitesmoke;
}
.text{
    color: darkorange;
}